.AppContainer{
    background-color: #1a1b1f;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ComponentsContainer{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.AppInputContainer{
    margin-bottom: 2rem;
    width: 100%;
}

.AppTasksContainer{
    width: 100%;
    height: 100%;
}

.AppHeaderContainer{
    height: 4rem;
    width: 100%;
}

